body {
    background-color: white;
     }
  
  h1 {
    background-color: rgb(0, 0, 0);
    color:white;
    text-align: center;
    font-size:x-large;

    }

  p {
    background-color: rgb(243, 227, 194);
    color:black;
    font-size:medium;
    padding:30px;
    }
  img {
    margin-left: 25%;
    width:50%;
    height:150;
    margin:right;
  }